from typing import Annotated

from pydantic import Field, RootModel

{%- for resource_name, resource_list in schemas.items() -%}
{%- set resource_singular = resource_name.rstrip('s') | to_pascal %}
from .{{ resource_name.rstrip('s') }} import {{ resource_singular }}
{%- endfor %}

EventType = Annotated[
    {%- for resource_name, resource_list in schemas.items() -%}
    {%- set resource_singular = resource_name.rstrip('s') | to_pascal %}
    {{ resource_singular }}{% if not loop.last %} |{% endif %}
    {%- endfor %},
    Field(..., discriminator="resource_type")
]

Event = RootModel[EventType]

__all__ = [
    "Event",
    {%- for resource_name, resource_list in schemas.items() -%}
    {%- set resource_singular = resource_name.rstrip('s') | to_pascal %}
    "{{ resource_singular }}",
    {%- endfor %}
]
