{%- for resource_name, resource_list in schema.items() -%}
{# just for debugging, this shows the json input
"""
"{{ resource_name }}": [
    {%- for item in resource_list %}
    {
        "action": "{{ item.action }}",
        "description": "{{ item.description }}",
        "details": [
            {%- for detail in item.details %}
            {
                {%- for key, value in detail.items() %}
                "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif %}
                {%- endfor %}
            }{%- if not loop.last %},{% endif %}
            {%- endfor %}
        ]
    }{% if not loop.last %},{% endif %}
    {%- endfor %}
],
"""
#}

from __future__ import annotations

from typing import Annotated, Any, Literal, Union, List

from pydantic import AwareDatetime, BaseModel, Field, RootModel

{%- set resource_singular = resource_name.rstrip('s') | to_pascal %}
{%- set actions = resource_list | map(attribute='action') | list %}
{%- for resource_item in resource_list %}

class {{ resource_singular }}{{ resource_item.action | to_pascal }}(BaseModel):
    """
    {{ resource_item.description }}
    """
    id: str
    created_at: AwareDatetime
    resource_type: Literal["{{ resource_name }}"]
    action: Literal["{{ resource_item.action }}"]
    description: str
    {%- set causes = [] -%}
    {%- for item in resource_list if item.action == resource_item.action %}
        {%- for detail in item.details %}
            {%- if detail.cause not in causes %}
                {%- do causes.append(detail.cause) -%}
            {%- endif %}
        {%- endfor %}
    {%- endfor %}
    {%- if causes|length == 1 %}
    details: {{ resource_singular }}{{ resource_item.action | to_pascal }}{{ causes[0] | to_pascal }}Detail
    {%- else %}
    details: List[Annotated[
        Union[
            {%- for cause in causes %}
            {{ resource_singular }}{{ resource_item.action | to_pascal }}{{ cause | to_pascal }}Detail,
            {%- endfor %}
        ],
        Field(..., discriminator="cause")
    ]]
    {%- endif %}
    metadata: dict[str, Any]
    resource_metadata: dict[str, Any]
    links: dict[str, Any]
{%- endfor %}

{%- for resource_item in resource_list %}
    {%- set causes_defined = [] -%}
    {%- for item in resource_list if item.action == resource_item.action %}
        {%- for detail in item.details %}
            {%- if detail.cause not in causes_defined %}
class {{ resource_singular }}{{ resource_item.action | to_pascal }}{{ detail.cause | to_pascal }}Detail(BaseModel):
    """
    {{ detail.description }}
    """
    {%- for key, value in detail.items() %}
    {%- if key in ['origin', 'cause'] %}
    {{ key }}: Literal["{{ value }}"]
    {%- else %}
    {{ key }}: str
    {%- endif %}
    {%- endfor %}
    {%- do causes_defined.append(detail.cause) -%}
            {%- endif %}
        {%- endfor %}
    {%- endfor %}
{%- endfor %}

{{ resource_singular }}Type = Annotated[
    Union[
        {%- for resource_item in resource_list %}
        {{ resource_singular }}{{ resource_item.action | to_pascal }},
        {%- endfor %}
    ],
    Field(..., discriminator="action")
]

{{ resource_singular }} = RootModel[{{ resource_singular }}Type]
{%- endfor %}
